<form method="post" action="{{ path('circus_act_delete', {'id': circus_act.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ circus_act.id) }}">
    <button class="btn">Delete</button>
</form>
