@import "~bootstrap/scss/bootstrap";
@import "vars";

a {
    color          : $link-color;
    text-decoration: none;

    &:hover {
        color          : $primary-color;
        text-decoration: none;
    }
}

body {
    background-color: ffffff;
}

h1 {
    text-align: center;
}

//button
.login-button {
    background-color: $primary-color;
    border          : none;
    color           : $white;
    height          : 40px;
    width           : 150px;
}

//form
.custom-form input {
    border       : solid 1px $light-grey;
    border-radius: 0;
    height       : 40px;
    width        : 300px;
}

.custom-form label {
    display: flex;
    margin : 15px 0;
}

//icon
.edit-icon {
    align-items    : center;
    color          : $primary-color;
    display        : flex;
    justify-content: center;
    height         : 40px;
    width          : 40px;
}

.user-icon {
    align-items    : center;
    color          : $primary-color;
    display        : flex;
    justify-content: center;
    height         : 40px;
    width          : 40px;
}

//navbar
.brand {
    color: $primary-color !important;
}

.profile-circle {
    background-color: $light-grey;
    border-radius   : 20px;
    height          : 40px;
    width           : 40px;
}