@import "~bootstrap/scss/bootstrap";
@import "vars";

body {
    background-color: ffffff;
}

h1 {
    text-align: center;
}

//button
.login-button {
    background-color: $primary-color;
    border          : none;
    color           : $white;
    height          : 40px;
    width           : 150px;
}

//form
.custom-form input {
    border       : solid 1px $light-grey;
    border-radius: 0;
    height       : 40px;
    width        : 300px;
}

.custom-form label {
    display: flex;
    margin : 15px 0;
}