<nav class="navbar navbar-expand-lg navbar-light bg-white">
	<a class="navbar-brand brand" href="{{ path('home') }}">WILD CIRCUS</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav mx-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Features</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Pricing</a>
			</li>
			<li class="nav-item mx-4">
				<div class="row">
					<div class="profile-circle">
						<div class="user-icon">
							<i class="fas fa-user fa-lg"></i>
						</div>
					</div>
					{% if is_granted('ROLE_ADMIN') %}
						<div class="edit-icon">
							<a class="nav-link" href="/admin">
								<i class="fas fa-pen"></i>
							</a>
						</div>
					{% endif %}
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Créer un compte</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
			</li>
		</ul>
	</div>
</nav>
